<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('./pices/Bootcss') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book's</title>
  </head>
  <body>
    <%- include('./pices/table') %> <%- include('./pices/Addbutton') %>
  </body>
  <%- include('./pices/script') %>
</html>
